@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html, body {
  scroll-behavior: smooth;
  background: linear-gradient(to bottom, #1e3a8a, #1e40af, #1e3a8a);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

section {
  background: transparent;
  width: 100%;
}
